@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --padding: 5rem 6rem;
  --headerHoriPadding: 6rem;
  --addNewBookForm: row;

  @media screen and (max-width: 1000px) {
    --padding: 1rem 2rem;
    --headerHoriPadding: 2rem;
  }

  @media screen and (max-width: 765px) {
    --padding: 1rem 1rem;
    --addNewBookForm: column;
    --headerHoriPadding: 1rem;
  }
}

* {
  font-size: 14px;
  font-family: Lato, fantasy;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: var(--padding);
  background: #f5f6fa;
}

.App {
  box-shadow: 2rem 4rem 4rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #fff;
  min-height: 40rem;
  max-height: 70rem;
  overflow: auto;
  padding-bottom: 7rem;
}

.header {
  position: relative;
  height: 6rem;
  padding: 1.8rem var(--headerHoriPadding);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.header-h1 {
  font-size: 2rem;
  font-family: Montserrat, fantasy;
  font-weight: bolder;
  color: #0290ff;
}

.header-ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  margin-left: 2em;
}

.header-ul-link {
  text-decoration: none;
  font-family: Montserrat, fantasy;
  color: #121212;
  font-size: 1rem;
  opacity: 0.5;
}

.header-icon {
  position: absolute;
  top: 1.4rem;
  right: var(--headerHoriPadding);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: auto #e8e8e8;
}

.books {
  padding: 1rem var(--headerHoriPadding);
}

.book-li {
  padding: 2rem 1.7rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  margin: 0.2em 0;
}

.book-li-part-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 3rem;
  text-align: left;
}

.circular-progress {
  width: 4rem;
  height: 4rem;
}

.circular-running-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.7rem;
}

.percentage {
  font-family: Montserrat, fantasy;
  font-size: 2rem;
  color: #121212;
}

.current-chapter {
  opacity: 0.5;
  font-family: Roboto, fantasy;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
}

.chapter-number {
  font-family: Roboto, fantasy;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.addnewbook {
  display: flex;
  flex-direction: var(--addNewBookForm);
  gap: 2em;
  margin: 1em 0;
}

.anb-input {
  flex: 1;
  font-size: 1.2em;
  font-family: Montserrat, fantasy;
  letter-spacing: -0.15px;
  border: 0.01rem solid #ddd;
  padding: 1rem 1rem;
  border-radius: 0.4rem;
}

.anb-input:focus-within {
  outline: none;
}

.btn-type1 {
  min-width: 5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1em;
  background: #0290ff;
  border-radius: 0.2rem;
  border: none;
  font-family: RobotoSlab, fantasy;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.btn-type1:hover {
  box-shadow: 0.01rem 0.2rem 0.01rem 0.01rem #00508d;
}

.btn-type1:active {
  box-shadow: none;
  translate: 0 0.1rem;
}

.btn-type-2 {
  border: none;
  background: none;
}

.btn-type-2:hover {
  font-weight: bolder;
}

.anb-button {
  width: 11rem;
  font-family: Roboto, fantasy;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.book-category-h3 {
  opacity: 0.5;
  font-family: Montserrat, fantasy;
  font-size: 0.875rem;
  font-weight: bold;
  color: #121212;
}

.book-title-h3 {
  font-family: Roboto, fantasy;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
  height: 2rem;
}

.book-author-h3 {
  font-family: Roboto, fantasy;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.title-btn-container {
  margin-top: 1.3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.add-nb-title {
  font-family: Montserrat, fantasy;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
  margin-top: 4.5rem;
  margin-bottom: 1rem;
}

.category {
  padding: 0 var(--headerHoriPadding);
}

.right-line {
  border-right: 0.1rem solid #dadada;
  padding-right: 1rem;
}
